[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
pypdf = "*"
werkzeug = "*"
pytest = "*"
reportlab = "*"

[requires]
python_version = "3.9"
